<a href="https://colab.research.google.com/github/Melissaydc/Colab_BI/blob/main/MELISSA_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

path = 'drive/MyDrive/dataSet/vendas_filial1.csv'


vendas_filial1 = pd.read_csv(path)
print( vendas_filial1.head())

vendas_filial1['Valor TOTAL'] = vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitário']


print("\n --------------------------------- \n Dados transformados da filial 1")
print(vendas_filial1.head())

vendas_filial1.to_csv('vendas_filial1_transformadas.csv', index=False)

dados1 = pd.read_csv('vendas_filial1_transformadas.csv')


print("\n --------------------------------- \n Dados da venda 1 TRANSFORMADOS")
print(dados1.head())

In [ ]:
path2 = 'drive/MyDrive/dataSet/vendas_filial2.xlsx'

vendas_filial2 = pd.read_excel(path2)
print(vendas_filial2.head())

vendas_filial2['Valor TOTAL'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

print("\n --------------------------------- \n Dados transformados da filial 2")
print(vendas_filial2.head())

vendas_filial2.to_csv('vendas_filial2_transformadas.csv', index=False)

dados2 = pd.read_csv('vendas_filial2_transformadas.csv')

print("\n --------------------------------- \n Dados transformados da filial 2")
print(dados2.head())

In [ ]:
conn = sqlite3.connect('dados_transformados.db')

vendas_filial1.to_sql('vendas_filial1_transformadas', conn, index=False, if_exists='replace')

dados_filial1 = pd.read_sql('SELECT * FROM vendas_filial1_transformadas', conn)

print("Dados transformados da filial 1 (banco de dados sql)")
print(dados_filial1.head())

conn.close()

Dados transformados da filial 1 (banco de dados sql)
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor TOTAL
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

In [ ]:
conn = sqlite3.connect('dados_transformados.db')

vendas_filial2.to_sql('vendas_filial2_transformadas', conn, index=False, if_exists='replace')

dados_filial2 = pd.read_sql('SELECT * FROM vendas_filial2_transformadas', conn)

print("Dados transformados da filial 2 (banco de dados sql)")
print(dados_filial2.head())
conn.close()

Dados transformados da filial 2 (banco de dados sql)
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor TOTAL
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [ ]:
!pip install matplotlib-venn

In [ ]:
!apt-get -qq install -y libfluidsynth1